/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#main_nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0 auto;
}

#welc_mess {
  color: black;
}

#welc_mess:hover {
  background: none;
}

#login_btn:hover {
  cursor: pointer;
}

#login_container{
  background-color: rgba(255,255,255,0.3);
  border-radius: 8px;
  padding: 20px;
  width: 30vw;
  font-weight: bold;
  margin-top: 5vw;
}

