// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#calendarContainer {
  width: 50vw;
  min-width: 200px;
  background-color: rgba(40,98,103,0.3);
  padding: 30px;
}


#records_container {
  width: 40vw;
  // background-color: rgba(255,255,255,0.1);
  border-radius: 8px;
  padding: 20px;
}
#portions_container {
  margin-top: 5vw;
  width: 40vw;
  background-color: rgba(255,255,255,0.3);
  border-radius: 8px;
  padding: 20px;
}

.list_record {
  font-weight: bold;
  opacity: 0.7;
}

#record_title {
  color: rgb(6,13,61);
}

#buttons_record {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  font-weight: bold;
}
#end_group {
  display: flex;
  justify-content: space-around;
  width: 20vw;
}

#back_record, #add_portion_btn, #delete_record {
  font-weight: bold;
}

#summary_container {
  width: 20vw;
  height: 20vw;
  background-color: rgba(255,255,255,0.3);
  border-radius: 8px;
  padding: 10px 10px  ;
  position: fixed;
  top: 150px;
  left: 1vw;
  word-break: break-word;
  h4 {
    text-align: center;
    margin-bottom: 2vw;
  }
}

td.fc-state-highlight {
  background: image-url('thumb.png') no-repeat center center;
  background-size: contain;
}
.fc{
  padding: 10px 0 0 0;
  border-style: solid !important;
  border-width: 2px !important;
  border-color: #000 !important;
}
