// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#records_container {
  margin-top: 5vw;
  width: 40vw;
  // background-color: rgba(255,255,255,0.3);
  border-radius: 8px;
  padding: 20px;
}

.list_record {
  font-weight: bold;
  opacity: 0.7;
}

#record_title {
  color: rgb(6,13,61);
}

#buttons_record {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  font-weight: bold;
}
#end_group {
  display: flex;
  justify-content: space-around;
  width: 20vw;
}

#back_record, #add_portion_btn, #delete_record {
  font-weight: bold;
}
