// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'cookieFont';
  src: asset-url('cookie_dough.otf') format('opentype');
}

body {
  background: image-url('welcome_background.jpg') no-repeat center center fixed;
  // background: blue;
}

body h1 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}
#welcomeBigTitle {
  text-align: center;
  margin:0 auto;
  margin-bottom: 1vw;
  h1{
    font-family: 'cookieFont'
  }
}

#welcome_container {
  // background-color: rgba(255,255,255,.3);
  width: 60vw;
  height: 50vw;
}


img.welcome_displays {
  width: 70vw;
  max-height: 600px;
  padding: 0px 10px;
  border-radius: 20px;
}
a.left, a.right  {
  border-radius: 20px;
}
